.sidebar{
    width: 255px !important;
    max-width: fit-content !important;
    height: 100% !important;
    margin: auto 0px !important;
    padding: 8px 7px !important;
    border-radius: 4px !important;
}

.wrapper{
    width: 100% !important;
    height: 100% !important;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 10px 15px !important;
}
